*.DS_Store
pretrain/__pycache__
pretrain/.DS_Store
out/

__pycache__/
*.pyc
*.pyo
*.DS_Store
.ipynb_checkpoints/
build/
dist/
*.egg-info/
.env
figures/
data/
*.jl
create*
extract*
*.txt
run_SSH_edited.py
*.aux
*.fdb*
*.fls
*.log
*.out
*.pdf
*.gz
*.tex