*.DS_Store
pretrain/__pycache__
pretrain/.DS_Store
out/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
build/
dist/
*.egg-info/
.env
*.txt
*.aux
*.fdb*
*.fls
*.log
*.out
*.pdf
*.gz
*.tex
Ben
Data
%OUTDIR%
.claude
Material
Notes
Progress
comparison.md
loss2.py
model_comparison.md
model2_copy.py
model2_silu_changes.md
model3.py
model3L.py
PLAN.md
